body{
  font-family: Verdana, sans-serif;
  background-color: honeydew;
}
#waffle{
  font-family: Verdana, sans-serif;
  background-color: honeydew;
  font-size: 20px;
  border: 2px solid lightgreen;
  padding: 10px;
  transition-duration: 0.4s;
  border-radius: 6px;
}
#waffle:hover{
  background-color: lightgreen;
}
#messages{
  background-color: lightgreen;
  padding: 10px;
  margin-right: 5px;
  width: 30%;
  max-width: fit-content;
  margin-right: 3px;
  margin-left: auto;
}
