body{
  font-family: Verdana, sans-serif;
  background-color: honeydew;
}
#waffle{
  font-family: Verdana, sans-serif;
  background-color: white;
  font-size: 20px;
  border: 2px solid lightgreen;
  padding: 16px;
  transition-duration: 0.4s;
}
#waffle:hover{
  background-color: lightgreen;
}
