body{
  font-family: Verdana, sans-serif;
  background-color: honeydew;
}
#waffle{
  font-family: Verdana, sans-serif;
  background-color: honeydew;
  font-size: 20px;
  border: 2px solid lightgreen;
  padding: 10px;
  transition-duration: 0.4s;
  border-radius: 6px;
}
#waffle:hover{
  background-color: lightgreen;
}
#messages{
  border: 2px solid lightgreen;
  background-color: honeydew;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 200px;
  padding-left: 70px;
  padding-right: 70px;
  width: 30%;
  max-width: fit-content;
  margin-right: 8px;
  margin-left: auto;
  position: relative;
  top: -137px; right: 30px;
}
.messagetitle{
  font-size: 20px;
}
